.global{
    display: flex;
    flex-direction: row;
}

.titre{
    font-size: 4vw;
    color: #00bcbe;
    text-align: center;
    margin-top: 10vw;
    margin-left: 7vw;
    border: black 2px solid;
    width: 19vw;
    height: 5vw;
}

.skills{
    font-size: 2vw;
    color: #00bcbe;
    text-align: auto;
    display: flex;
    margin-top: 3vw;
    margin-left: 5vw;
}