.contact2{
    margin-top: 4vw;
    margin-left: 4vw;
    position: absolute;
    z-index: 2;
}

.tout_contact{
    display: flex;
    flex-direction: row;
}

.logo{
    width: 4vw;
    height: 4vw;
    display: flex;
}

.logo1{
    width: 4vw;
    height: 3vw;
    display: flex;
}

.texte1{
    font-family: 'Nunito';
    font-size: 2vw;
    color:#00bcbe;
    text-align: center;
    display: flex;
    margin-bottom: 1.8vw;
    margin-left: 1vw;
}

.texte{
    font-family: 'Nunito';
    font-size: 2vw;
    color:#00bcbe;
    text-align: center;
    display: flex;
    margin-bottom: 1.8vw;
    margin-left: 5vw;
}

.nom{
    font-family: 'Nunito';
    font-size: 2vw;
    color:#00bcbe;
    text-align: center;
    display: flex;
    border: black 1px solid;
    width: 7vw;
    height: 3vw;
}

.mail{
    font-family: 'Nunito';
    font-size: 2vw;
    color:#00bcbe;
    text-align: center;
    display: flex;
    border: black 1px solid;
    width: 7vw;
    height: 3vw;
}

.changement{
    z-index: 3;
    position: absolute;
    margin-top: 30%;
    margin-left: 5%;
    width: 22%;
    font-family: 'Nunito';
    font-size: 2vw;
}