.formulaire input{
    width: 70%;
    margin-top: 3%;
}

.formulaire textarea{
    width: 90%;
    align-content: center;
}

.formulaire button{
    margin-top: 5%;
}

.formu{
    width: 100%;
    height: auto;
}
